.detailCard {
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-align: center;
}

.detailCard h1 {
    font-size: 2.2rem;
}

.detailCard h3 {
    margin-right: 0.3rem;
}

.detailCard span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sprite {
    height: 35%;
}

.gameSprite {
    height: 10%;
}

@media (max-width: 1920px) {
    .detailCard {
        padding-top: 1rem;
    }

    .sprite {
        height: 20%;
    }
}

@media (max-width: 800px) {
    .detailCard {
        padding-top: 2rem;
    }

    .sprite {
        height: 30%;
    }

    .gameSprite {
        height: 18%;
    }
}

@media (max-width: 740px) {
    .sprite {
        height: 20%;
    }
}