.detailCard {
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    text-align: center;
}

.detailCard h1 {
    font-size: 2.2rem;
}

.detailCard h3 {
    margin-right: 0.3rem;
}

.detailCard span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sprite {
    height: 300px;
}

.gameSprite {
    height: 100px;
}

@media (max-width: 1920px) and (min-width: 1450px) {
    .detailCard {
        padding-top: 1rem;
    }

    .sprite {
        height: 100px;
    }

    .gameSprite {
        height: 50px;
    }
}

@media (max-width: 1450px) {
    .sprite {
        height: 250px;
    }

    .gameSprite {
        height: 100px;
    }
}

@media (max-width: 740px) {
    .sprite {
        height: 180px;
    }

    .gameSprite {
        height: 200px;
    }
}