.pokeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    padding: 3rem;
}

.pokeItem > img {
    width: 30%;
}

.pokeItem >div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pokeItem h2 {
    margin: 0 10px;
}

@media (max-width: 1450px) {
    .pokeItem {
        padding: 2rem;
    }

    .pokeItem > img {
        width: 40%;
    }
}

@media (max-width: 740px) {
    .pokeItem {
        padding: 1rem;
    }

    .pokeItem > img {
        width: 70%;
    }
}