.list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 1360px;
}

.list > li {
    margin-bottom: 30px;
}

@media (max-width: 1450px) {
    .list {
        width: 680px;
    }
}

@media (max-width: 740px) {
    .list {
        width: 280px;
    }
}