.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    padding: 20px 0;
}

.search > label {
    margin: 10px;
    font-size: 20px;
}

.search > input {
    height: 40px;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.search >button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 0 10px;
    background-color: #fff;
}

.search > button:hover {
    background-color: #eee;
}

.search > button:active {
    background-color: #ccc;
}

.filter {

}

.filter > label {
    margin: 0 10px 0 50px;
    font-size: 20px;
}

.filter > select {
    height: 40px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
}

.filter > select:focus {
    border: 2px solid black;
}

@media (max-width: 1450px) {
    .form{
        flex-direction: column;
        height: 100px;
    }

    .search {
        margin-bottom: 10px;
    }

    .search > label {
        margin: 10px;
        font-size: 20px;
    }

    .search > input {
        width: 600px;
    }

    .filter {
        width: 740px;
    }

    .filter > label {
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 740px) {
    .form{
        flex-direction: column;
        height: 200px;
    }

    .search > input {
        width: 55vw;
    }

    .filter {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .filter > select {
        margin-bottom: 10px;
        width: 50vw;
    }
}