.header {
    background: #E35335;
    color: #fff;
    padding: 0 30px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

.header > h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 4rem;
}

@media (max-width: 740px) {
    .header {
        height: 40px;
    }

    .header > h1 {
        font-size: 2rem;
    }
}