.header {
    background: #E35335;
    color: #fff;
    padding: 0 30px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.header > h1 {
    margin: 0;
    font-weight: bolder;
    font-size: 4rem;
}

.header > div {
    display: flex;
    align-items: center;
}

.blue {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: cyan;
}

.red {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    margin: 0 20px;
}

.green {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: chartreuse;
}

@media (max-width: 740px) {
    .header {
        height: 40px;
    }

    .header > h1 {
        font-size: 2rem;
    }

    .blue {
        width: 25px;
        height: 25px;
    }

    .red {
        width: 25px;
        height: 25px;
        margin: 0 15px;
    }

    .green {
        width: 25px;
        height: 25px;
    }
}