.main {
    padding: 170px 30px 100px 30px;
}

@media (max-width: 1450px) {
    .main {
        padding: 220px 30px 100px 30px;
    }
}

@media (max-width: 740px) {
    .main {
        padding: 355px 30px 100px 30px;
    }
}
